<div class="row flex-nowrap">
    <div class="col-auto px-0 border-end" style="background-color: #fafafa;">
        <div id="toc" class="collapse collapse-horizontal show">
            <p><b>Jump to:</b></p>
            <nav>
                {% for endpoint in site.data.meme_generator.paths %}
                    {% for method in endpoint[1] %}
                        {% if method[0] == "get" %}
                            <a href='#{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-get">{{ method[0] }}</span> {{ endpoint[0] }}</a>
                        {% elsif method[0] == "post" %}
                            <a href='#{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-post">{{ method[0] }}</span> {{ endpoint[0] }}</a>
                        {% elsif method[0] == "delete" %}
                            <a href='#{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-delete">{{ method[0] }}</span> {{ endpoint[0] }}</a>
                        {% elsif method[0] == "put" %}
                            <a href='#{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-put">{{ method[0] }}</span> {{ endpoint[0] }}</a>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </nav>
        </div>
    </div>
    <div id="content" class="col">
        <div class="row">
            <div id="middle" class="col-sm-7">
                <h1>{{ site.data.meme_generator.info.title }} <span class="api-version-title">v{{ site.data.meme_generator.info.version }}</span></h1>
                <p>{{ site.data.meme_generator.info.description | markdownify }}</p>
                <h2>Servers</h2>
                <ul>
                    {% for server in site.data.meme_generator.servers %}
                    <li>
                        <span class="server-url">{{ server.url }}</span> [{{ server.description }}]
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="sidebar" class="col">
                {% include contact_info.html %}
            </div>
        </div>
        <span class="d-none d-lg-block">{% include section_divider.html %}</span>
        {% for endpoint in site.data.meme_generator.paths %}
            {% for method in endpoint[1] %}
                <div class="row">
                    <div id="middle" class="col-sm-7">
                        {% if method[0] == "get" %}
                            <h2 id='{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-get">{{ method[0] | upcase }}</span> <span class="method-endpoint">{{ endpoint[0] }}</span></h2>
                        {% elsif method[0] == "post" %}
                            <h2 id='{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-post">{{ method[0] | upcase }}</span> <span class="method-endpoint">{{ endpoint[0] }}</span></h2>
                        {% elsif method[0] == "delete" %}
                            <h2 id='{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-delete">{{ method[0] | upcase }}</span> <span class="method-endpoint">{{ endpoint[0] }}</span></h2>
                        {% elsif method[0] == "put" %}
                            <h2 id='{{ method[0] }}-{{ endpoint[0] | slugify: "latin" }}'><span class="badge method-name-put">{{ method[0] | upcase }}</span> <span class="method-endpoint">{{ endpoint[0] }}</span></h2>
                        {% endif %}
                        <p>{{ method[1].description | markdownify  }}</p>
                        {% if method[1].requestBody %}
                            <p class="request-body">REQUEST BODY</p>
                            {% for content in method[1].requestBody.content %}
                                <p>Content-Type: <code>{{ content[0] }}</code></p>
                                <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Description</th>
                                        <th>Required?</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for param in content[1].schema %}
                                    <tr>
                                        <td><code>{{ param[0] }}</code></td>
                                        <td>{{ param[1].description | markdownify }}</td>
                                        <td>{{ param[1].required }}</td>
                                        <td>{{ param[1].type }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            {% endfor %}
                        {% else %}
                            <p>This method doesn't have any parameters or a request body.</p>
                        {% endif %}
                    </div>
                    <div id="sidebar" class="col">
                        <h3>Responses</h3>

                        {% assign method_name = method[0] %}
                        {% assign endpoint_name_slug = endpoint[0] | slugify: "latin" %}
                        
                        <select id="response-select" class="form-select form-select-sm" onchange="showResponseContent(value, '{{ method_name }}', '{{ endpoint_name_slug }}');">
                            <option selected="selected" disabled="disabled">--- Select one ---</option>
                            {% for code in method[1].responses %}
                                <option value="{{ code[0] }}">{{ code[0] }}</option>
                            {% endfor %}
                        </select>
                        {% for code in method[1].responses %}
                            {% for type in code[1].content %}
                                <div class="response-control {{ method_name }}-{{ endpoint_name_slug }} {{ code[0] }}-description" style="display:none;">
                                    <p><b>Description:</b> {{ code[1].description }}</p>
                                    <p><b>Model:</b></p>
                                    <div id="response-content">
                                        <p>{{ type[1].model | markdownify }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <span class="d-none d-lg-block">{% include section_divider.html %}</span>
            {% endfor %}
        {% endfor %}
    </div>
</div>