<!-- Data file name goes here -->
{% assign data_source = "meme_generator" %}

<p><b>{{ site.data.[data_source].info.title }}</b></p>
<table id="contact-info">
    <tr>
        <th>Contact:</th>
        <td>general@imgflip.com</td>
    </tr>
    <tr>
        <th>Website:</th>
        <td><a href="https://imgflip.com/" target="_blank">https://imgflip.com/</a>
    </tr>
    <tr>
        <th>License:</th>
        <td><a href="https://imgflip.com/terms" target="_blank">Terms of Use</a></td>
    </tr>
    <tr>
        <th>Privacy:</th>
        <td><a href="https://imgflip.com/privacy" target="_blank">Privacy Policy</a></td>
    </tr>
</table>